---
layout: default
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
    }
</style>
 <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://120.25.87.171/JP-Comment/assets/css/comments.css">
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="Tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="/Tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>




<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

                {{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</article>

<div class="jp-comments" style="display:block;width:100%;margin-top:30px;">
    <div class="form-horizontal center-class" role="form" style="display:block;width:50%;margin-left:auto;margin-right:auto;">
    	<div class="form-group has-feedback" style="font-size:2em;">评论(共&nbsp;<span id="jp-count"></span>&nbsp;条)</div>
        <div class="form-group has-feedback">
            <div>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <input type="text" class="form-control" id="jp-nickname" name="nickname" placeholder="你的昵称" autofocus>
            </div>
        </div>
        <div class="form-group has-feedback">
            <div>
                <i></i>
                <span class="glyphicon glyphicon-globe form-control-feedback"></span>
                <input type="text" class="form-control" id="jp-site" name="site" placeholder="你的站点">
            </div>
        </div>
        <div class="form-group has-feedback">
            <div>
                <i></i>
                <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                <textarea class="form-control" id="jp-content" name="content" placeholder="你的评论" rows="6"></textarea>
            </div>
        </div>
        <button class="btn btn-primary" style="display:block;width:10%;height:5vh;margin-left:auto;margin-right:auto;" id="jp-smt">提交</button>
    </div>
    <ul class="list-group" style="display:block;width:50%;margin-left:auto;margin-right:auto;margin-top:30px;" id="jp-cm"></ul>
</div>
<script type="text/javascript" src="http://120.25.87.171/JP-Comment/assets/js/comments.js"></script>